.menu-Productos {
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 1rem;
  }
}

.menu-productos-active {
  color: #9c5e35 !important;
  font-weight: bolder !important;
}
