@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&family=Sassy+Frass&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

:root {
    --color-Primary: #375b7d;
    --color-secundary: #9c5e35;
    --color-parrafo: #636161;
}

/*Home section*/
.home {
    /*Fondo*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.089)),
        url("../assets/SectionBackground.png");
    background-size: cover;
    /* Hace que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    width: 100%;
    height: 900px;
}

.home-main {
    position: relative;
    background-color: #EAEAEA;
}

.footer-componente {
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
}

.contenedor-principal {
    position: relative;
}

/*Home container*/

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 90%;
    max-width: 1400px;
    height: 700px;
    padding: 20px;
}

.home-header {
    display: flex;
    margin: 10px 0;
    width: 100%;
}

.header-logo {
    display: block;
    margin-left: 100px;
    width: 350px;
}

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
}

.home-section--imagen {
    width: 60%;
    max-width: 600px;
    position: relative;
}

.section-img {
    position: relative;
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: 2;
}

.section-img--fondo {
    content: "";
    position: absolute;
    top: 90px;
    right: -100px;
    width: 600px;
    height: 400px;
    background-color: var(--color-Primary);
    z-index: 1;
}

.home-section--texto {
    width: 35%;
    max-width: 400px;
}

.home-section--texto p {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    color: var(--color-parrafo);
}

.btn {
    display: block;
    margin: 20px auto;
    width: 150px;
    padding: 12px;
    background-color: var(--color-secundary);
    color: white;
    border-radius: 10px;
    text-align: center;
    transition: all 300ms ease-out;
}
.btn:hover {
    background-color: #A77350

}


/**/
.home-about {
    display: block;
    width: 100%;
}

.home-about-container--imagen {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 750px;
    overflow: hidden;
}

.imagen-container {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.home-about-imagen{
    display: block;
    width: 100%;
    z-index: 10;
}
.imagen-container:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.imagen-titulo {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    font-size:30px;
    font-weight: 700;
    text-shadow: 5px 5px 5px var(--color-Primary);
}
.imagen-subtitulo{
    font-size: 20px;
    text-align: justify;
}
.maderas{
    background-image: url("../assets/SliderHome/sh9.png");
}
.thermowood{
    background-image: url("../assets/SliderHome/sh10.png");
}
.compuesto{
    background-image: url("../assets/SliderHome/sh11.png");
}

.imagen-texto {
    display: block;
    width: 100%;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 10%);
    text-align: center;
    background-color: #00000070;
    color: white;
}

.imagen-texto p {
    font-weight: 500;
    font-size: 20px;
}

/**/

.home-about-footer {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: var(--color-secundary);
}

.about-footer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
    color: white;
}

.about-img {
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;

    border: 5px solid #9b5d34;
    /* Añade un borde del color del fondo para crear el efecto */
}


.about-btn {
    display: block;
    width: 140px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--color-Primary);
    color: white;
    transition: all 3ms ease-out;
}

.about-btn:hover {
    background-color: var(--color-Primary);
    border-radius: 10px;
}

/*Home-lumber*/
.Home-lumber {
    /*Fondo*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.089)),
        url("../assets/SectionBackground.png");
    background-size: cover;
    /* Hace que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    width: 100%;
}

.lumberPlusLogo{
    display: block;
    max-width: 230px;
    margin: 15px 0;
}

.home-lumber--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    max-width: 1400px;
}

.lumber-container--imagenes {
    display: block;
    width: 60%;
    max-width: 600px;
}

.lumber-imagenes {
    position: relative;
    margin: 60px 0;
    z-index: 3;
}

.lumber-img {
    position: relative;
    display: block;
    width: 450px;
    height: 340px;
    z-index: 4;
    border-radius: 5px;
}

.lumber-imagenes::after {
    content: "";
    position: absolute;
    top: 60px;
    right: 70px;
    width: 400px;
    height: 300px;
    border: 1px solid var(--color-Primary);
    z-index: 1;
    border-radius: 5px;
}

.lumber-textos {
    display: block;
    width: 60%;
    max-width: 500px;
}

.lumber-textos h2 {
    display: block;
    margin: 20px 0;
    font-size: 40px;
    color: var(--color-secundary);
}

.lumber-textos p {
    display: block;
    font-size: 18px;
    color: var(--color-Primary);
    font-weight: 400;
    text-align: left;
}

.lumber-footer {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: var(--color-Primary);
}

.lumber-footer--container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.lumber-footer--container p {
    font-size: 25px;
    font-weight: 400;
    color: white;
}

/*section five*/

.section-five {
    position: relative;
    display: block;
    margin-top: 20px;
    width: 100%;
}

.section-five--imagen {
    width: 100%;
}
.section-five--enlaces{
    position: relative;
    display: block;
    width: 100%;
}
.five-enlace-one{
    position: absolute;
    top: 180px;
    left: 40%;
}
.five-enlace-two{
    position: absolute;
    top: 500px;
    right:5%;
}
.five-enlace-three{
    position: absolute;
     bottom: 18%;
    left: 30%;
}
.five-enlace-titulo{
    position: absolute;
    display: block;
    top: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
}
.five-enlace--imagen{
    max-width: 40px;
}

.five-imagen {
    width: 100%;
}

.five-texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #6361615b;
    padding: 20px 0;
}

.texto-titulo {
    font-size: 35px;
    font-weight: 600;
    color: var(--color-Primary);
}

.truck {
    width: 200px;
}

/**/
.footer {
    width: 100%;
    background-color: var(--color-Primary);
    overflow: hidden;
    display: block;
    list-style: none;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.footer-rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.footer-logos {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 200px;
    margin: 10px 0;
}

.footer-sections {
    display: block;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
ul li {
    margin: 10px 0;
    list-style: none;
}

.items-one {
    font-size: 18px;
    color: white;
    font-weight: 700;
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    margin: 10px auto;
    padding: 10px;
    font-weight: 300;
    transition: all 300ms ease;
}

.footer-img{
    margin-right:5px ;
    width: 18px;
}


/* Estilos para dispositivos móviles */
@media (max-width: 820px) {
    .header-container {
        width: 100%;
        position: relative;
    }

    .header-menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        z-index: 8;
        transition: all 400ms ease-out;
        clip-path: circle(0% at 99% 0);
    }
.menu-show{
    clip-path: circle(70.7% at 50% 50%);
}
    .nav {
        display:block;
        position: relative;
        width: 100%;

    }
    .container-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
        width: 100%;
    }
    .nav-item{
        display: block;
        margin: 20px 0;
    }


    .active {
        color: var(--color-Primary);
      scale: 1.2;
    }

    .header-menu--responsive {
        display: block;
        position: fixed;
        right: 14px;
        top: 12px;
        z-index: 15;
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.137);
    }
    .header-menu-responsive-Logo{
        display: block;
        position: relative;
        top: 10px;
        left: 2%;
    }
    .responsive-Logo{
        max-width: 150px;
        grid-column: 1;
        grid-row: 1;

    }

    .header-menu.open {
        display: block;
    }

    .menu-responsive--icon {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        z-index: 11;
    }

    .icon-show {
        grid-column: 1;
        grid-row: 1;
    }

    .icon-close {
        grid-column: 1;
        grid-row: 1;
    }

    .icon-menu {
        width: 35px;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }


    /*Footer*/
    .footer-container {
        display: block;
        width: 100%;
        padding: 0;
    }
    
    .footer-rows {
        flex-direction: column;
        margin: auto;
    }
    .footer-sections {
        display: block;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    
.footer-items {
    font-size: 18px;
    color: white;
    margin: 5px auto ;
    padding: 0;
    font-weight: 300;
    transition: all 300ms ease;
}



/*hOME CONTAINER*/
.home-container {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
}

.home-section {
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
}

.home-header {
    display: block;
    width: 100%;
}

.header-logo {
    display: block;
    margin:20px auto;
    max-width: 300px;
}


.home-section--imagen {
    display: block;
    width: 100%;
}
.section-img--fondo {
    content: "";
    position: unset;
    width: 0;
    height: 0;
    background-color: var(--color-Primary);

}
.section-img {
    display: block;
    margin: auto;
    position: relative;
    max-width: 500px;
    height: 400px;
    border-radius: 15px;

}

.home-section--texto {
    display: block;
    margin: 50px auto;
    width: 100%;
}

.home-section--texto p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--color-parrafo);
}




/**/
.home-about {
    display: block;
    width: 100%;
   
}

.home-about-container--imagen {
    width: 100%;
    height: 660px;
    overflow: hidden;
}

.imagen-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.home-about-imagen{
    display: block;
    width: 100%;
    z-index: 10;
}
.imagen-container:hover  {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.imagen-titulo {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
    font-size:20px;
    font-weight: 700;
    text-shadow: 5px 5px 5px var(--color-Primary);
}
.imagen-subtitulo{
    font-size: 16px;
    text-align: justify;
}
.img {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
}

.imagen-texto {
    display: block;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    padding: 45px;
    transform: translate(-30%, 30%);
    text-align: center;
    background-color: #00000070;
    color: white;
}

.imagen-texto p {
    font-weight: 500;
    font-size: 16px;
}

.about-img {
   display: none;
}




/*Home lumber*/


.home-lumber--container {
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.lumber-container--imagenes {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;

}

.lumber-imagenes {
    position: relative;
    margin: 30px auto;
    z-index: 3;
}

.lumber-img {
    position: relative;
    display: block;
    max-width: 400px;
    height: 300px;
    z-index: 4;
    border-radius: 15px;
}

.lumber-imagenes::after {
    content: "";
    position: sticky;
    width: 0;
    height: 0;

}
.lumberPlusLogo{
    display: block;
    max-width: 230px;
    margin: 15px auto;
}
.lumber-textos {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}


.lumber-textos p {
    display: block;
    font-size: 18px;
    color: var(--color-Primary);
    font-weight: 400;
    text-align: justify;
}

.lumber-footer {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: var(--color-Primary);
}

.lumber-footer--container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.lumber-footer--container p {
    font-size: 20px;
    text-align: center;
}
}